/* TOP 버튼 */
.top-btn {
  position: fixed;
  bottom: 150px;
  right: 30px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 10002;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  transition: transform 0.2s;
}

.top-btn:hover {
  transform: translateY(-4px);
}

.top-btn img {
  width: 60px;
  height: auto;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .top-btn {
    bottom: 130px;
    right: 20px;
    z-index: 10002;
  }

  .top-btn img {
    width: 50px;
  }
}

