apiVersion: v1
kind: Service
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"v1","kind":"Service","metadata":{"annotations":{},"labels":{"app":"frontend"},"name":"frontend","namespace":"bravo-front-ns"},"spec":{"ports":[{"name":"http","nodePort":30080,"port":80,"targetPort":80}],"selector":{"app":"frontend"},"type":"NodePort"}}
  labels:
    app: frontend
  name: frontend
  namespace: bravo-front-ns
spec:
  clusterIP: 10.233.14.103
  clusterIPs:
    - 10.233.14.103
  externalTrafficPolicy: Cluster
  internalTrafficPolicy: Cluster
  ipFamilies:
    - IPv4
  ipFamilyPolicy: SingleStack
  ports:
    - name: http
      nodePort: 30080
      port: 80
      protocol: TCP
      targetPort: 80
  selector:
    app: frontend
  sessionAffinity: None
  type: NodePort
