apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: monstache-role
  namespace: bravo-efk-ns
rules:
- apiGroups: [""]
  resources:
    - configmaps
    - services
  verbs:
    - get
