apiVersion: v1
kind: Pod
metadata:
  name: good-pod
  namespace: bravo-front-ns
  annotations:
    sidecar.istio.io/inject: "false"
spec:
  securityContext:
    seccompProfile:
      type: RuntimeDefault
  containers:
  - name: nginx
    image: nginxinc/nginx-unprivileged:stable-alpine
    ports:
    - containerPort: 18080
    securityContext:
      runAsNonRoot: true
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
