apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: bravo-core-ns
spec:
  type: ClusterIP
  selector:
    app: notification-service
  ports:
    - name: http
      port: 3005
      targetPort: 3005
      protocol: TCP

