apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-velero-egress
  namespace: bravo-backup-ns
spec:
  podSelector: {}
  policyTypes:
  - Egress
  egress:
  - to:
    - namespaceSelector: {}
    ports:
    - protocol: TCP
      port: 443
