apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "46"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"auth-service","namespace":"bravo-core-ns"},"spec":{"replicas":2,"selector":{"matchLabels":{"app":"auth-service"}},"template":{"metadata":{"labels":{"app":"auth-service"}},"spec":{"containers":[{"env":[{"name":"TZ","valueFrom":{"configMapKeyRef":{"key":"TZ","name":"bravo-config"}}},{"name":"NODE_ENV","valueFrom":{"configMapKeyRef":{"key":"NODE_ENV","name":"bravo-config"}}},{"name":"PORT","value":"3001"},{"name":"MONGODB_URI","value":"mongodb://mongodb.bravo-mongo-ns.svc.cluster.local:27017/hiking?replicaSet=rs0\u0026readPreference=secondaryPreferred"},{"name":"REDIS_HOST","value":"redis-0.redis.bravo-redis-ns.svc.cluster.local"},{"name":"REDIS_PORT","value":"6379"},{"name":"JWT_SECRET","valueFrom":{"secretKeyRef":{"key":"JWT_SECRET","name":"bravo-secrets"}}},{"name":"KAKAO_REST_API_KEY","valueFrom":{"secretKeyRef":{"key":"KAKAO_REST_API_KEY","name":"bravo-secrets"}}},{"name":"KAKAO_CLIENT_SECRET","valueFrom":{"secretKeyRef":{"key":"KAKAO_CLIENT_SECRET","name":"bravo-secrets"}}},{"name":"KAKAO_REDIRECT_URI","valueFrom":{"configMapKeyRef":{"key":"KAKAO_REDIRECT_URI","name":"bravo-config"}}},{"name":"NAVER_CLIENT_ID","valueFrom":{"secretKeyRef":{"key":"NAVER_CLIENT_ID","name":"bravo-secrets"}}},{"name":"NAVER_CLIENT_SECRET","valueFrom":{"secretKeyRef":{"key":"NAVER_CLIENT_SECRET","name":"bravo-secrets"}}},{"name":"NAVER_REDIRECT_URI","valueFrom":{"configMapKeyRef":{"key":"NAVER_REDIRECT_URI","name":"bravo-config"}}},{"name":"FRONTEND_URL","valueFrom":{"configMapKeyRef":{"key":"FRONTEND_URL","name":"bravo-config"}}},{"name":"AWS_ACCESS_KEY_ID","valueFrom":{"secretKeyRef":{"key":"AWS_ACCESS_KEY_ID","name":"bravo-secrets"}}},{"name":"AWS_SECRET_ACCESS_KEY","valueFrom":{"secretKeyRef":{"key":"AWS_SECRET_ACCESS_KEY","name":"bravo-secrets"}}},{"name":"AWS_REGION","valueFrom":{"configMapKeyRef":{"key":"AWS_REGION","name":"bravo-config"}}}],"image":"192.168.0.244:30305/bravo/hiking-auth-service:latest","livenessProbe":{"httpGet":{"path":"/health","port":3001},"initialDelaySeconds":30,"periodSeconds":10},"name":"auth-service","ports":[{"containerPort":3001,"name":"http"}],"readinessProbe":{"httpGet":{"path":"/health","port":3001},"initialDelaySeconds":10,"periodSeconds":5},"resources":{"limits":{"cpu":"500m","memory":"512Mi"},"requests":{"cpu":"100m","memory":"256Mi"}},"volumeMounts":[{"mountPath":"/app/uploads","name":"uploads"}]}],"volumes":[{"name":"uploads","persistentVolumeClaim":{"claimName":"auth-uploads-pvc"}}]}}}}
  name: auth-service
  namespace: bravo-core-ns
spec:
  progressDeadlineSeconds: 600
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: auth-service
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/restartedAt: "2025-12-23T01:20:09+09:00"
      labels:
        app: auth-service
    spec:
      containers:
        - env:
            - name: TZ
              valueFrom:
                configMapKeyRef:
                  key: TZ
                  name: bravo-config
            - name: NODE_ENV
              valueFrom:
                configMapKeyRef:
                  key: NODE_ENV
                  name: bravo-config
            - name: PORT
              value: "3001"
            - name: MONGODB_URI
              value: mongodb://mongodb.bravo-mongo-ns.svc.cluster.local:27017/hiking?replicaSet=rs0&readPreference=secondaryPreferred
            - name: REDIS_HOST
              value: redis-0.redis.bravo-redis-ns.svc.cluster.local
            - name: REDIS_PORT
              value: "6379"
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  key: JWT_SECRET
                  name: bravo-secrets
            - name: KAKAO_REST_API_KEY
              valueFrom:
                secretKeyRef:
                  key: KAKAO_REST_API_KEY
                  name: bravo-secrets
            - name: KAKAO_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  key: KAKAO_CLIENT_SECRET
                  name: bravo-secrets
            - name: KAKAO_REDIRECT_URI
              valueFrom:
                configMapKeyRef:
                  key: KAKAO_REDIRECT_URI
                  name: bravo-config
            - name: NAVER_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  key: NAVER_CLIENT_ID
                  name: bravo-secrets
            - name: NAVER_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  key: NAVER_CLIENT_SECRET
                  name: bravo-secrets
            - name: NAVER_REDIRECT_URI
              valueFrom:
                configMapKeyRef:
                  key: NAVER_REDIRECT_URI
                  name: bravo-config
            - name: FRONTEND_URL
              valueFrom:
                configMapKeyRef:
                  key: FRONTEND_URL
                  name: bravo-config
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  key: AWS_ACCESS_KEY_ID
                  name: bravo-secrets
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  key: AWS_SECRET_ACCESS_KEY
                  name: bravo-secrets
            - name: AWS_REGION
              valueFrom:
                configMapKeyRef:
                  key: AWS_REGION
                  name: bravo-config
          image: 192.168.0.244:30305/bravo/hiking-auth-service:latest
          imagePullPolicy: Always
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /health
              port: 3001
              scheme: HTTP
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          name: auth-service
          ports:
            - containerPort: 3001
              name: http
              protocol: TCP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /health
              port: 3001
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 1
          resources:
            limits:
              cpu: 500m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 256Mi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /app/uploads
              name: uploads
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
        - name: uploads
          persistentVolumeClaim:
            claimName: auth-uploads-pvc
