apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: longhorn-cr
rules:
- apiGroups: [""]
  resources:
    - nodes
    - persistentvolumes
    - persistentvolumeclaims
  verbs: ["get", "list", "watch"]

