apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: longhorn-ui-cr
rules:
- apiGroups: [""]
  resources:
    - nodes
    - persistentvolumes
    - persistentvolumeclaims
  verbs:
    - get
    - list
    - watch

- apiGroups: ["storage.k8s.io"]
  resources:
    - storageclasses
  verbs:
    - get
    - list
    - watch